*{
    margin: 0;
    padding: 0;
}

.contenedor{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #F1F6F9;
}

.texto{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    background-color: #9BA4B5;
}

.texto::placeholder{
    color: #394867;
}

.texto:focus,
.texto:active{
    border: none;
    outline: none;
}

.contenedor__terminos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}

.contenedor__terminos p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.contenedor__botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 83%;
}

.btn-cifrado{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8%;
    width: 25%;
    background-color: #212A3E;
    border-radius: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #F6F6F6;
}

.btn-descifrado{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: #495057;
    border: 1px solid #212A3E;
    border-radius: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #212A3E;
}

.btn-cifrado:hover,
.btn-descifrado:hover{
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}

.contenedor__encriptado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: #F6F6F6;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.contenedor__encriptado__mensaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;

}

.contenedor__encriptado__mensaje h2{
    width: 60%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #212A3E;

}

.contenedor__encriptado__mensaje p{
    width: 80%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

.contenedor__encriptado img{
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}

@media (max-width: 57.5em){
    .contenedor{
        display: flex;
        flex-direction: row;
    }

    .contenedor__encriptado{
        width: 100%;
    }

    .texto{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }

    .contenedor__terminos{
        width: 80%;
        left: 10%;
        top: 67%;
    }

    .contenedor__terminos p{
        font-size: 16px;
    }

    .contenedor__botones{
        width: 80%;
        left: 10%;
        top: 70%;
    }

    .btn-cifrado, 
    .btn-descifrado{
        width: 48%;
        border-radius: 16px;
    }

    .btn-cifrado:hover,
    .btn-descifrado:hover{
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }

    .contenedor__encriptado{
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
    }

    .contenedor__encriptado__mensaje{
        width: 100%;
        top: 5%;
    }

    .contenedor__encriptado__mensaje img{
        top: 0;
        display: none;
        visibility: hidden;
    }

    

}